<h1 class="title" onclick="createFormModal">Create</h1>
<div class="form-content">
  <i class="fa-solid fa-xmark close"></i>
  <h2 class="form-title">Create New User</h2>
  <form action="http://localhost:3000/api/clients" method="POST">
    <div class="left">
      <div>
        <div class="input-box">
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" placeholder="Your Name">
        </div>
        <div class="input-box">
          <label for="lastName">Last Name:</label>
          <input type="text" id="lastName" name="lastName" placeholder="Your Name">
        </div>
      </div>
      <div>
        <div class="input-box">
          <label for="dni">DNI:</label>
          <input type="text" id="dni" name="dni" placeholder="Your DNI">
        </div>
        <div class="input-box">
          <label for="address">Address:</label>
          <input type="text" id="address" name="address" placeholder="Your Address">
        </div>
      </div>
      <div>
        <div class="input-box">
          <label for="city">City:</label>
          <input type="search" list="cities" name="city" placeholder="Your City">
          <datalist id="cities">
            <option value="Bucaramanga"></option>
          </datalist>
        </div>
        <div class="input-box">
          <label for="phone">Phone:</label>
          <input type="tel" id="phone" name="phone" placeholder="Your Phone Number">
        </div>
      </div>
      <div>
        <div class="input-box">
          <label for="contact">Contact:</label>
          <input type='text' id='contact' name='contact' placeholder='Some Contact'>
        </div>
      </div>
      <input type="submit" class="save" value="Create user">
    </div>
    <div class="right">
      <div class="input-box">
        <label for="limitCredit">Limit Credit:</label>
        <input type="number" id="limitCredit" name="limitCredit" placeholder="Your Limit Credit">
      </div>
      <div class="input-box">
        <label for="curerntCredit">Current Credit:</label>
        <input type="number" id="curentCredit" name="currentCredit" placeholder="Your Current Credit">
      </div>
      <div class="input-box">
        <label for="daysGrace">Days of Grace:</label>
        <input type="number" id="daysGrace" name="daysGrace" placeholder="Your Days of grace">
      </div>
    </div>
  </form>
</div>