<h1 class="title" onclick="createFormModal">Home</h1>
<div class="data">
  <div class='home-data'>
    <div class='credits'>
      <div class='left'>
        <h3>Number of Credits</h3>
        <span>{{numberOfCredits}}</span>
      </div>
      <div class='right'>
        <i class="fa-solid fa-credit-card"></i>
      </div>
    </div>
    <div class='clients'>
      <div class='left'>
        <h3>Number of Clients</h3>
        <span>{{numberOfClients}}</span>
      </div>
      <div class='right'>
        <i class="fa-solid fa-user"></i>
      </div>
    </div>
  </div>
</div>