<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Prueba tecnica</title>
  <!-- Custom css -->
  <link rel="stylesheet" href="/styles/style.css">
</head>

<body>
  <div class="container">
    <aside>
      <div class="top">
        <img src="" alt="">
        <h2>Admin</h2>
      </div>
      <nav class="sidebar">
        <a href="#" class="home active">
          <i class="fa-solid fa-house"></i>
          <h3>Home</h3>
        </a>
        <a href="clients" class="clients">
          <i class="fa-solid fa-user"></i>
          <h3>Clients</h3>
        </a>
        <a href="credits" class="credits">
          <i class="fa-solid fa-credit-card"></i>
          <h3>Credits</h3>
        </a>
        <a href="#" class="">
          <i class="fa-solid fa-right-from-bracket"></i>
          <h3>Logout</h3>
        </a>
      </nav>
    </aside>
    <!-- ============== END OF ASIDE ============ -->

    <main>
      {{{ body }}}
    </main>
  </div>

  <script src="index.js" type="module"></script>
  <script src="https://kit.fontawesome.com/d7042d0bf6.js" crossorigin="anonymous"></script>
</body>

</html>